@font-face {
    font-family: GameCube;
    src: url(../Assets/Fonts/GameCube.ttf);
}

@font-face {
  font-family: PS2;
  src: url(../Assets/Fonts/PS2_font.ttf);
}

@font-face {
  font-family: Wii;
  src: url(../Assets/Fonts/Wii_font.ttf);
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(0deg,rgba(0, 217, 255, 1) 0%, rgba(16, 0, 120, 1) 100%);
    color: white;
}

img {
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

/* Styles the list items and makes them float left (horizontal) */
nav li {
  float: left;
}

/* Styles the links inside the list items */
nav li a {
  display: block; /* Makes the entire area of the link clickable */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Removes default link underlines */
  font-family: Wii;
}

/* Changes the color of links on hover */
nav li a:hover {
  background-color: #111;
}

/* Adds an active class to highlight the current page */
nav li a.active {
  background-color: #04AA6D;
  color: white;
}

.home-page-container {
  display: flex;
  flex-direction: row;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #EAF5FE;
  border: 5px solid #636363;
  border-radius: 20px;
  margin-right: 7rem;
  margin-left: 2rem;
  margin-top: 2rem;
  height: 50rem;
  width: 20rem;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
    text-align: center;
    font-family: "GameCube";
}

.spotlight-event {
  margin-bottom: 1rem;
  width: 65rem;
  height: 30rem;
  background-color: #EAF5FE;
  border: 5px solid #636363;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spotlight-event-time-and-details {
  width: 64rem;
  height: 14rem;
  margin-top: -14.5rem;
  border-radius: 20px;

  display: flex;
  flex-direction: row;

  border: 3px solid red;
}

.spotlight-event-game-cover{
  width: 134px;
  height: 201px;
  margin-left: 0.5rem;
}

#spotlight-event-game {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#spotlight-event-emulator {
  height: 20%;
  width: 30%;
  margin-top: -20rem;
  margin-left: 6.75rem;
}

.separator {
  width: 60rem;
  height: 1px;
  background-color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spotlight-event-outlook {
  width: 64rem;
  height: 14rem;
  margin-bottom: -14.5rem;
  border-radius: 20px;
  border: 3px solid red;
}

.season-preview {
  margin: auto;
  width: 60rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.season-preview-header {
  font-family: Wii;
  font-size: 32px;
  text-align: center;
  width: 20em;
  margin-left: 5em;
}

.season-preview-header h2 {
  margin-top: -0.1rem;
  border: 2px solid white;
  border-radius: 30px;
}

.spotlight-carousel {
  margin: 100px auto;
  margin-top: -2em;
  width: 80%;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  overflow-x: auto;
}

.spotlight-carousel::-webkit-scrollbar {
  display: none;
}

.spotlight-carousel-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 15s infinite linear;
  padding-right: 1em;
}

.spotlight-image-container{
  flex: 0 0 10em;
  width: 150px;
  height: 225px;
}

.spotlight-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}